<!DOCTYPE html>
<html>
 <head>
   <title>Employee Information Form</title>
   <style>
     body {
       font-family: Arial, sans-serif;
     background-color: #f2f2f2;
     margin: 0;
     padding: 0;
     background: url("https://cdn.dribbble.com/users/24711/screenshots/3886002/falcon_persistent_connection_2x.gif");
     }


     h1 {
       text-align: center;
       margin-top: 50px;
     }


     form {
       background-color: rgb(245, 245, 245);
     border-radius: 5px;
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
     padding: 20px;
     margin: auto;
     width: 600px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     }


     label {
       display: block;
     margin-bottom: 10px;
     font-size: 18px;
     font-weight: bold;
     color: #555;
     }


     input[type="text"],
     input[type="date"] {
       padding: 10px;
       font-size: 16px;
       border-radius: 3px;
       border: 1px solid #ccc;
       width: 100%;
       margin-bottom: 20px;
       box-sizing: border-box;
     }


     button[type="submit"] {
       background-color: #4CAF50;
       color: #fff;
       border: none;
       padding: 10px 20px;
       border-radius: 5px;
       cursor: pointer;
     }


     button[type="submit"]:hover {
       background-color: #3e8e41;
     }
   </style>
 </head>
 <body>


   <form method="POST" action="/employees">
     <h1>Employee Information Form</h1>
     <label for="emp_no">Employee No:</label>
     <input type="text" id="emp_no" name="emp_no" required>


     <label for="birth_date">Birth Date:</label>
     <input type="date" id="birth_date" name="birth_date" required>


     <label for="first_name">First Name:</label>
     <input type="text" id="first_name" name="first_name" required>


     <label for="last_name">Last Name:</label>
     <input type="text" id="last_name" name="last_name" required>


     <label for="gender">Gender:</label>
     <input type="radio" id="male" name="gender" value="M" required>
     <label for="male">Male</label>
     <input type="radio" id="female" name="gender" value="F">
     <label for="female">Female</label>


     <label for="hire_date">Hire Date:</label>
     <input type="date" id="hire_date" name="hire_date" required>


     <button type="submit">Submit</button>
   </form>

   <form method="GET" action="/search">
    <h1>Employee Search Form</h1>
    <label for="search_term">Search Term:</label>
    <input type="text" id="search_term" name="search_term" required>
    <button type="submit">Search</button>
  </form>
  
  <!-- Employee Update Form -->
  <form method="POST" action="/update">
    <h1>Employee Update Form</h1>
    <label for="emp_no">Employee No:</label>
    <input type="text" id="emp_no" name="emp_no" required autocomplete="off">
  
    <!-- Include fields that can be updated -->
    <label for="first_name">First Name:</label>
    <input type="text" id="first_name" name="first_name" required autocomplete="off">
  
    <label for="last_name">Last Name:</label>
    <input type="text" id="last_name" name="last_name" required >
  
    <label for="hire_date">Hire Date:</label>
    <input type="date" id="hire_date" name="hire_date" required>
  
    <button type="submit">Update</button>
  </form>
  
  <!-- Employee Delete Form -->
  <form method="POST" action="/delete">
    <h1>Employee Delete Form</h1>
    <label for="emp_no">Employee No:</label>
    <input type="text" id="emp_no" name="emp_no" required>
  
    <button type="submit">Delete</button>
  </form>

 </body>
 
</html>
