<!DOCTYPE html>
<html>
<head>
   <title>Add Salary</title>
   <style>
       body {
         font-family: Arial, sans-serif;
             background-color: #f2f2f2;
             margin: 0;
             padding: 0;
             background: url("https://cdn.dribbble.com/users/24711/screenshots/3886002/falcon_persistent_connection_2x.gif");
       }
        h1 {
         text-align: center;
         margin-top: 50px;
       }
        form {
         background-color: rgb(245, 245, 245);
             border-radius: 5px;
             box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
             padding: 20px;
             margin: auto;
             width: 600px;
             display: flex;
             flex-direction: column;
             align-items: center;
             justify-content: center;
       }
        label {
         display: block;
             margin-bottom: 10px;
             font-size: 18px;
             font-weight: bold;
             color: #555;
       }
        input[type="text"],
       input[type="date"] {
         padding: 10px;
               font-size: 16px;
               border-radius: 3px;
               border: 1px solid #ccc;
               width: 100%;
               margin-bottom: 20px;
               box-sizing: border-box;
       }
        button[type="submit"] {
         background-color: #4CAF50;
         color: #fff;
         border: none;
         padding: 10px 20px;
         border-radius: 5px;
         cursor: pointer;
       }
        button[type="submit"]:hover {
         background-color: #3e8e41;
       }
     </style>
</head>
<body>
    <form action="/salaries" method="POST">
        <h1>Add Salary</h1>
        <label for="emp_no">Employee Number:</label>
        <input type="text" id="emp_no" name="emp_no" required><br>
 
        <label for="salary">Salary:</label>
        <input type="text" id="salary" name="salary" required><br>
 
        <label for="from_date">From Date:</label>
        <input type="date" id="from_date" name="from_date" required><br>
 
        <label for="to_date">To Date:</label>
        <input type="date" id="to_date" name="to_date" required><br>
 
        <button type="submit">Add Salary</button>
    </form>
 
    <form action="/salaries" method="GET">
        <h1>Search Salary</h1>
        <label for="emp_no">Employee Number:</label>
        <input type="text" id="emp_no" name="emp_no" required><br>
 
        <button type="submit">Search Salary</button>
    </form>
 
    <form action="/update-salary" method="POST">
      <h1>Update Salary</h1>
      <label for="emp_no">Employee Number:</label>
      <input type="text" id="emp_no" name="emp_no" required><br>
    
      <label for="salary">Salary:</label>
      <input type="text" id="salary" name="salary" required><br>
    
      <label for="from_date">From Date:</label>
      <input type="date" id="from_date" name="from_date" required><br>
    
      <label for="to_date">To Date:</label>
      <input type="date" id="to_date" name="to_date" required><br>
    
      <button type="submit">Update Salary</button>
    </form>

    <form action="/delete-salary" method="POST">
      <h1>Delete Salary</h1>
      <label for="emp_no">Employee Number:</label>
      <input type="text" id="emp_no" name="emp_no" required><br>
  
      <label for="from_date">From Date:</label>
      <input type="date" id="from_date" name="from_date" required><br>
  
      <button type="submit">Delete Salary</button>
  </form>

  
  
    <script>
      $('#salary-form').on('submit', function(event) {
        event.preventDefault();
        const emp_no = $('#emp_no').val();
        const salary = $('#salary').val();
        const from_date = $('#from_date').val();
        const to_date = $('#to_date').val();
    
        $.ajax({
          url: '/salary',
          method: 'PUT',
          data: {
            emp_no: emp_no,
            salary: salary,
            from_date: from_date,
            to_date: to_date
          },
          success: function(response) {
            console.log(response);
          },
          error: function(jqXHR, textStatus, errorThrown) {
            console.log(errorThrown);
          }
        });
      });
    </script>
 </body>
 
</html>
